// MAIN
.main {
  flex-basis: 70%;

  > * + * {
    margin-top: 2rem;
  }
}

/* Characters, Comics */
.characters-title, .comics-title {
  margin: 0 0 $m-gutter;
  font-family: $f-primary;
  font-size: 2rem;
  border-bottom: $b-bottom;
}

.characters-list, .comics-list {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  &__item {
    flex-basis: calc(100% / 4 - 2rem);
    min-width: 8rem;
    max-width: 13rem;
    flex-grow: 2;
    margin: 1rem;

    &__image {
    border-radius: $b-img;
    }
  }
}

// Characters
.characters-list__item__name {
  margin-bottom: 0;
}

// Comics
.comics-list__item__read {
  width: 100%;
  border: 0;
  border-radius: $b-img;
  padding: 0.5rem;
  color: $c-white;
  background: $c-blue;
}


@media (max-width: 550px) {

  // Flexes the
  .container--content {
    flex-direction: column;
  }

  // Removes gutter margin on sidebar so that it fills the now single column container
  .sidebar {
    margin-right: 0;
  }

  .characters-title, .comics-title {
    margin-top: $m-gutter;
  }
}
