// MAIN
.main {
  flex-basis: 70%;

  > * + * {
    margin-top: 2rem;
  }
}

// Characters, Comics
.characters-title,
.comics-title {
  margin: 0 0 $m-gutter;
  border-bottom: $b-bottom;
  font-family: $f-primary;
  font-size: 2rem;
}

.characters-list,
.comics-list {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  &__item {
    flex-basis: calc(100% / 4 - 2rem);
    flex-grow: 2;
    min-width: 8rem;
    max-width: 13rem;
    margin: 1rem;

    &__image {
      position:  absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: $b-img;
    }
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  &::before {
    display: block;
    padding-top: 100%;
    content: '';
  }
}



// Characters
.characters-list__item__name {
  margin-bottom: 0;
}

// Comics
.comics-list__item__read {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-radius: $b-img;
  background: $c-blue;
  color: $c-white;
}


@media (max-width: 550px) {

  // Flexes the
  .container--content {
    flex-direction: column;
  }

  // Removes gutter margin on sidebar so that it fills the now single column container
  .sidebar {
    margin-right: 0;
  }

  .characters-title,
  .comics-title {
    margin-top: $m-gutter;
  }
}
