// SIDEBAR
.sidebar {
  flex-basis: calc(30% - 1rem);
  min-width: 10rem;
  // max-width: 20rem;
  margin-right: $m-gutter;

  &__img {
    width: 100%;
    border-radius: $b-img;
  }

  &__creators-title {
    font-family: $f-primary;
    border-bottom: $b-bottom;
    margin-bottom: 0;
  }
}

.sidebar__creators-item {
  text-transform: capitalize;;
}


// MEDIA QUERIES
@media (max-width: 650px) {

}
