// SIDEBAR
.sidebar {
  flex-basis: calc(30% - 1rem);
  min-width: 10rem;
  // max-width: 20rem;
  margin-right: $m-gutter;

  &__img {
    position:  absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $b-img;
  }

  &__creators-title {
    margin-bottom: 0;
    border-bottom: $b-bottom;
    font-family: $f-primary;
  }
}

.image-wrapper {
  // width: 500px;
  // height: 500px;
}

.sidebar__creators-item {
  text-transform: capitalize;;
}
