// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';


// COLORS
$c-blue: #2b3e50;
$c-white: #fefefe;
$f-primary: 'Special Elite', cursive;
$f-secondary: 'Maven Pro', sans-serif;

// MEASUREMENTS
$m-gutter: 2rem;

// BORDERS
$b-img: 0.25rem;
$b-bottom: 1px solid #000;

// IMPORTS
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'header';
@import 'sidebar';
@import 'main';

@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Special+Elite');
